header{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.img-logo{
    width: 210px;
    height: 68px;
}
nav ul{
    display: flex;
    align-self: baseline;
}
ul li{
    list-style-type: none;
}
nav ul li{
    padding-left: 80px;
}
a{
    text-decoration: none;
}
nav a{
    color: red;
    font-size: 24px;
    font-weight: 500;
    
}
nav a.active{
    text-decoration: underline;
}
/**********************************
*          Responsive             *
**********************************/
@media screen and (max-width: 767px) {
    .img-logo{
        width: 145px;
        height: 47px;
    }
    nav ul li{
        padding-left: 20px;
    }
    nav a {
        font-size: 12px;
        text-transform: uppercase;
    }
}