#error{
    color: #FF6060;
    text-align: center;
}
#error:first-child{
    font-size: 288px;
    font-weight: 700;
}
#error:nth-child(2){
    font-size: 36px;
    font-weight: 500;
}
#error a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}